# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
packages/

# JetBrains IDEs
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo

# Test results
TestResults/
coverage/
coveragereport/
.config/